/* Botón Compra Ahora */
.btn-cta {
    background-color: #2563eb;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.btn-cta:hover {
    background-color: #1d72f3;
}

/* Botón Más Información */
.btn-info {
    background-color: #e0e0e0;
    color: #444;
    padding: 0.75rem;
    font-weight: bold;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #ccc;
}

/* Botón Explora Colecciones */
.btn-explore {
    background-color: #ffc107;
    color: #fff;
    padding: 1rem;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-explore:hover {
    background-color: #ffb300;
}

/* Transición suave */
.btn-info, .btn-explore, .btn-cta {
    transition: transform 0.3s ease-in-out;
}

.btn-info:hover, .btn-explore:hover, .btn-cta:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
